<div class='container'>
  <div class='row'>
    <div class="span5 offset2">
      <h1>Sir Portly's workers are standing by </h1>

      <%= link_to "Help the cause", new_user_registration_path, :class => "btn btn-primary btn-large center" %>
    </div>
  </div>
</div>
